###
### File managed by Puppet
###

# This file is part of avahi.
#
# avahi is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# avahi is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
# License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with avahi; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
# USA.

# See avahi-daemon.conf(5) for more information on this configuration
# file!

[server]
<% if scope['avahi::host_name'] -%>
host-name=<%= scope['avahi::host_name'] %>
<% end -%>
<% if scope['avahi::domain_name'] -%>
domain-name=<%= scope['avahi::domain_name'] %>
<% end -%>
<% if scope['avahi::browse_domains'] -%>
browse-domains=<%= scope['avahi::browse_domains'] %>
<% end -%>
use-ipv4=<%= scope['avahi::use_ipv4'] ? 'yes' : 'no' %>
use-ipv6=<%= scope['avahi::use_ipv6'] ? 'yes' : 'no' %>
<% if scope['avahi::allow_interfaces'] -%>
allow-interfaces=<%= scope['avahi::allow_interfaces'] %>
<% end -%>
<% if scope['avahi::deny_interfaces'] -%>
deny-interfaces=<%= scope['avahi::deny_interfaces'] %>
<% end -%>
check-response-ttl=<%= scope['avahi::check_response_ttl'] ? 'yes' : 'no' %>
use-iff-running=<%= scope['avahi::use_iff_running'] ? 'yes' : 'no' %>
<% case scope['avahi::enable_dbus']
   when true -%>
enable-dbus=yes
<% when "warn" -%>
enable-dbus=warn
<% else -%>
enable-dbus=no
<% end -%>
disallow-other-stacks=<%= scope['avahi::disallow_other_stacks'] ? 'yes' : 'no' %>
allow-point-to-point=<%= scope['avahi::allow_point_to_point'] ? 'yes' : 'no' %>
cache-entries-max=<%= scope['avahi::cache_entries_max'] %>
clients-max=<%= scope['avahi::clients_max'] %>
objects-per-client-max=<%= scope['avahi::objects_per_client_max'] %>
entries-per-entry-group-max=<%= scope['avahi::entries_per_entry_group_max'] %>
ratelimit-interval-usec=<%= scope['avahi::ratelimit_interval_usec'] %>
ratelimit-burst=<%= scope['avahi::ratelimit_burst'] %>

[wide-area]
enable-wide-area=<%= scope['avahi::enable_wide_area'] ? 'yes' : 'no' %>

[publish]
disable-publishing=<%= scope['avahi::disable_publishing'] ? 'yes' : 'no' %>
disable-user-service-publishing=<%= scope['avahi::disable_user_service_publishing'] ? 'yes' : 'no' %>
add-service-cookie=<%= scope['avahi::add_service_cookie'] ? 'yes' : 'no' %>
publish-addresses=<%= scope['avahi::publish_addresses'] ? 'yes' : 'no' %>
publish-hinfo=<%= scope['avahi::publish_hinfo'] ? 'yes' : 'no' %>
publish-workstation=<%= scope['avahi::publish_workstation'] ? 'yes' : 'no' %>
publish-domain=<%= scope['avahi::publish_domain'] ? 'yes' : 'no' %>
<% if scope['avahi::publish_dns_servers'] -%>
publish-dns-servers=<%= scope['avahi::publish_dns_servers'] %>
<% end -%>
publish-resolv-conf-dns-servers=<%= scope['avahi::publish_resolv_conf_dns_servers'] ? 'yes' : 'no' %>
publish-aaaa-on-ipv4=<%= scope['avahi::publish_aaaa_on_ipv4'] ? 'yes' : 'no' %>
publish-a-on-ipv6=<%= scope['avahi::publish_a_on_ipv6'] ? 'yes' : 'no' %>

[reflector]
enable-reflector=<%= scope['avahi::enable_reflector'] ? 'yes' : 'no' %>
reflect-ipv=<%= scope['avahi::reflect_ipv'] ? 'yes' : 'no' %>

[rlimits]
rlimit-core=<%= scope['avahi::rlimit_core'] %>
rlimit-data=<%= scope['avahi::rlimit_data'] %>
rlimit-fsize=<%= scope['avahi::rlimit_fsize'] %>
rlimit-nofile=<%= scope['avahi::rlimit_nofile'] %>
rlimit-stack=<%= scope['avahi::rlimit_stack'] %>
rlimit-nproc=<%= scope['avahi::rlimit_nproc'] %>
